/* App.css */

body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
  }
  
  .dashboard-container {
    display: grid;
    grid-template-columns: 250px auto;
    min-height: 100vh;
  }
  
  .sidebar {
    background-color: #333;
    color: rgb(155, 21, 21);
    padding: 20px;
  }
  
  .sidebar ul {
    list-style: none;
    padding: 0;
  }
  
  .sidebar li {
    margin-bottom: 10px;
  }
  
  .sidebar a {
    text-decoration: none;
    color: rgb(172, 30, 30);
  }
  
  .content {
    padding: 20px;
  }
  
  /* Responsive Layout */
  @media screen and (max-width: 768px) {
    .dashboard-container {
      grid-template-columns: auto;
    }
  
    .sidebar {
      grid-row: 1;
      grid-column: 1;
      width: 100%;
    }
  
    .content {
      grid-row: 2;
      grid-column: 1;
      width: 100%;
    }
  }
  
  /* Style for Charts.js */
  canvas {
    max-width: 100%;
    height: auto;
  }
  
  /* New Styles for Dashboard Content */
  h1 {
    color: #333;
  }
  
  .overview,
  .charts,
  .recent-bookings {
    margin-top: 20px;
  }
  
  h2 {
    color: #333;
  }
  
  ul {
    list-style: none;
    padding: 0;
  }
  
  ul li {
    border: 1px solid #ddd;
    padding: 10px;
    margin-bottom: 10px;
    background-color: #f9f9f9;
  }
  
  /* Add more styling based on your specific design preferences */
  